<h1>List your property</h1>
<%= render partial: "shared/errors" %>
<form action="/host/listings" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title<br>
    <input type="text" id="title" name="listing[title]" value="<%= @listing.title %>">
  </label>
  <label>About<br>
    <textarea id="about" name="listing[about]" value="<%= @listing.about %>"></textarea>
  </label>
  <label>How many people maximum can stay?<br>
    <input type="number" name="listing[max_guests]" id="max_guests" value="<%= @listing.max_guests %>" min="1" max="100" step="1">
  </label>
  <input type="submit" value="Create listing">
</form>